* {
    background-color: #373738;
}

/*Header*/
.inline-block {
    display: inline-block;
    vertical-align: top;
    color: white;
    columns: 4;
    list-style: none;
}

.logo {
    width: 23%;
    padding: 1%;
}

/*Hero Image*/
.hero {
    background-image: url("../images/mainself.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero div h1 {
    position: absolute;
    top: 30%;
    right: 5%;
    transform: translate(-50%,-50%);
    background-color: none;
}

.hero div p {
    position: absolute;
    bottom: 20%;
    left: 75%;
    transform: translate(-50%,-50%);
    background-color: none;
}

.hero div button {
    position: absolute;
    bottom: 15%;
    left: 75%;
    transform: translate(-50%,-50%);
    background-color: none;
    color: white;
}

.ul {
    width: 50%;
    margin-left: auto;
}

.logo {
    text-align: center;
}

.div {
    height: 600px;
    padding: 25px;
}

div img {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

/*Footer*/
.footer {
    padding: 100px;
}

div ul {
    padding: center;
    display: inline-block;
    vertical-align: top;
}

ul div il {
    padding: center;
}

/*My UX Skills*/
.flexContainer {
    display: flex;
    background-color: #949189;
    border:#373738 2px;
    color: white;
    flex-direction: row;
    text-align: center;
}

.flexContainer div {
    width: 50%;
    padding: 10px;
}

.mySkills div img {
    width: 33%;
    height: 15%;
}

/*My Work*/
.workGrid {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: min-content 1fr;
}

.workGrid div img {
    max-width: 50%;
    height: auto;
    justify-content: left;
    padding: 2rem;
}

.workGrid div h4 {
    padding-left: 100px;
}

.workGrid div p {
    padding-left: 100px;
}

button {
    background-color: #949189;
}

/*Mobile Media Query*/
@media only screen and (max-width: 600) {
    flex-direction: column;
    width: 100%;
    grid-template-rows: 300px;
    grid-template-columns: 1fr;
}